{
  "extends": ["@gpa-lab/eslint-config"],
  "ignorePatterns": ["**/bin/**", "**/lib/**"],
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": ["@gpa-lab/eslint-config", "plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"]
    }
  ]
}
